<footer class="border-top footer text-white-50 bg-primary">
    <div class="container">
        &copy; 2021 - BulkyBook.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
