
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <partial name="_RefrenceStyles" />
</head>
<body>
    <header>
        <partial name="_Navbar" />
    </header>
    <div @*style="margin-bottom:400px;"*@>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await Component.InvokeAsync("Footer")
    <partial name="_RefrenceScripts" />

    @RenderSection("Scripts", required: false)
</body>
</html>
