@using BulkyBook.Business.StaticTools
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" 
           asp-action="Index"><img src="/images/DefaultImages/2832_R1NUIEpPUyAwMzktMTM0.jpg" 
            width="50px" class="rounded-circle" alt="website logo" /> 
            BulkyBook
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <partial name="_LoginPartial" />
            <ul class="navbar-nav flex-grow-1">
                @if (User.IsInRole(SD.Role_Admin))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Panel</a>
                    </li>
                }
                @if (User.IsInRole(SD.Role_Employee))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Manage User/Company
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-area="Admin" asp-controller="ManageUser" asp-action="Index">User List</a>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="ManageCompany" asp-action="Index">Company List</a>
                        </div>
                    </li>
                }
                @if (!User.IsInRole(SD.Role_Admin))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="ManageOrder" asp-action="Index">Orders</a>
                    </li>
                }
                @if (User.IsInRole(SD.Role_User_Comp) || User.IsInRole(SD.Role_User_Indi) || User.IsInRole(SD.Role_Employee))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="ManageTicket" asp-action="Index">Ticket</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link" href="/AboutUs">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ContactUs">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/SiteRules">Site Rules</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Privacy">Privacy</a>
                </li>
                @if (HttpContextAccessor.HttpContext.Session.GetInt32(SD.ssShoppingCart) != null)
                {

                    var count = HttpContextAccessor.HttpContext.Session.
                                GetInt32(SD.ssShoppingCart);

                    <li class="nav-item">
                        <a asp-area="Customer" asp-controller="Cart" asp-action="Index"
                           class="nav-link">
                            <i class="fas fa-shopping-cart"></i> &nbsp; (@count)
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-shopping-cart"></i> &nbsp; (0)
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
