@using BulkyBook.Business.StaticTools

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <partial name="_RefrenceStyles" />
</head>
<body class="hold-transition sidebar-mini layout-fixed">

    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/AdminLayout/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
        </div>

        @if (User.IsInRole(SD.Role_Admin))
        {
            <partial name="_Navbar" />
        }
        <partial name="_MainSidebar" />

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <partial name="_NotificationWithTempData" />
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        @if (User.IsInRole(SD.Role_Admin))
        {
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Control sidebar content goes here -->
            </aside>
        }
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <partial name="_RefrenceScripts" />
    @RenderSection("Scripts", required: false)
</body>
</html>
