@model BulkyBook.DomainClass.Public.Slider

@{
    ViewData["Title"] = (Model.Id == 0 ? "Create Slider" : "Edit Slider");
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<br />
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-9">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">@(Model.Id==0?"Create Slider":"Edit Slider")</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @if (Model.Id != 0)
                        {
                            <input type="hidden" asp-for="Id" />
                        }

                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="Title"></label>
                                <input asp-for="Title" type="email" class="form-control" placeholder="Enter Title">
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Url"></label>
                                <input asp-for="Url" type="url" class="form-control" placeholder="Enter Url">
                                <span asp-validation-for="Url" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description"></label>
                                <textarea asp-for="Description" class="form-control" placeholder="Enter Description"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFile">Image</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="SliderImage" id="SliderImageInput">
                                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" asp-for="IsActive" class="form-check-input" id="exampleCheck1">
                                <label asp-for="IsActive" class="form-check-label" for="exampleCheck1"></label>
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            @if (Model.Id == 0)
                            {
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" onclick="return validateImageInput()" class="btn btn-success form-control">Create</button>
                                    </div>
                                    <div class="col">
                                        <a asp-action="Index" class="btn btn-primary form-control">Back To List</a>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <partial name="_UpdateAndBackToListButton" model="Model.Id" />
                            }
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            @if (Model.Id != 0)
            {
                <div class="col-3 offset-1 pt-4">
                    <img src="@Model.ImageUrl" class="img-thumbnail" />
                </div>
            }
        </div>
    </div>
</section>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script src="https://cdn.tiny.cloud/1/ngmcapzjz97fuxpvni2s8pkccjooqt74196lnte523vnj1ul/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>

        // TinyMCE
        tinymce.init({
            selector: 'textarea',
            height: 250,
            menubar: 'file edit format',
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
            ],
            toolbar: 'undo redo | formatselect | ' +
                'bold italic backcolor | alignleft aligncenter ' +
                'alignright alignjustify | bullist numlist outdent indent | ' +
                'removeformat | help',
            content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
        });

        // Validate
        function validateImageInput() {
            if (document.getElementById("SliderImageInput").value == "") {
                swal("Error", "Please select an image", "error");
                return false;
            }

            return true;
        }
    </script>

}





@*<form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @if (Model.Id != 0)
        {
            <input type="hidden" asp-for="Id" />
        }

        <div class="row p-3 border">
            <div class="col-12 border-bottom">
                <h2 class="text-dark">@(Model.Id == 0?"Create Slider":"Edit Slider")</h2>
            </div>
            <div class="col-8 pt-4">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Title"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Url"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Url" class="form-control" />
                        <span asp-validation-for="Url" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Description"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="IsActive"></label>
                    </div>
                    <div class="col-1">
                        <input type="checkbox" asp-for="IsActive" class="text-right form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label for="exampleInputFile">Image</label>
                    </div>
                    <div class="col-8">
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input form-control" name="SliderImage" id="SliderImageInput">
                                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4">
                        @if (Model.Id == 0)
                        {
                            <div class="row">
                                <div class="col">
                                    <button type="submit" onclick="return validateImageInput()" class="btn btn-success form-control">Create</button>
                                </div>
                                <div class="col">
                                    <a asp-action="Index" class="btn btn-primary form-control">Back To List</a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <partial name="_UpdateAndBackToListButton" model="Model.Id" />
                        }
                    </div>
                </div>
            </div>
            <div class="col-3 offset-1 pt-4">
                <img src="@Model.ImageUrl" class="img-thumbnail" />
            </div>
        </div>
    </form>*@
