@model BulkyBook.DomainClass.Public.Slider
@using BulkyBook.Business.StaticTools

@{
    ViewData["Title"] = (Model.Id == 0 ? "Create Slider" : "Edit Slider");
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<br />
<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.AntiForgeryToken()

    @if (Model.Id != 0)
    {
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ImageName" />
    }

    <div class="row p-2">
        <div class="col-12 border-bottom">
            <h2 class="text-dark">@(Model.Id == 0 ? "Create Slider":"Edit Slider")</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Title"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Url"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Url" class="form-control" />
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Description"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="IsActive"></label>
                </div>
                <div class="col-1">
                    <input asp-for="IsActive" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Id == 0)
                    {
                        // Create Slider
                        <div class="row">
                            <div class="col">
                                <button type="submit" onclick="return validateImageInput()" class="btn btn-success form-control">Create</button>
                            </div>
                            <div class="col">
                                <a asp-action="Index" class="btn btn-primary form-control">Back To List</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        // Edit Slider
                        <partial name="_UpdateAndBackToListButton" model="Model.Id" />
                    }
                </div>
            </div>
        </div>
        <div class="col-4 pt-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top"
                     src="@((Model.Id == 0) ? SD.NoPhoto : SD.ThumbSliderImagePath.Remove(0,7)+Model.ImageName)"
                     alt="Slider Image" id="target">
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-2">
                            <label>Image</label>
                        </div>
                        <div class="col-9 offset-1">
                            <input type="file" name="SliderImage" id="SliderImageInput" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script src="https://cdn.tiny.cloud/1/ngmcapzjz97fuxpvni2s8pkccjooqt74196lnte523vnj1ul/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>

        // Validate
        function validateImageInput() {
            if (document.getElementById("SliderImageInput").value == "") {
                swal("Error", "Please select an image", "error");
                return false;
            }

            return true;
        }

        // Display selected Image
        function showImage(src, target) {
            var fr = new FileReader();
            // when image is loaded, set the src of the image where you want to display it
            fr.onload = function (e) { target.src = this.result; };
            src.addEventListener("change", function () {
                // fill fr with image data
                fr.readAsDataURL(src.files[0]);
            });
        }

        var src = document.getElementById("SliderImageInput");
        var target = document.getElementById("target");
        showImage(src, target);

    </script>

}
